* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0 auto;
}

.container {
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 14px;
	padding-right: 14px;
}

.container:before, .container:after {
	content: " ";
	display: table;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container:after {
	clear: both;
}

/*saca los márgenes bottom en donde lo coloques*/
.mb-0 {
	margin-bottom: 0;
}

/*saca los márgenes top en donde lo colques*/
.mt-0 {
	margin-top: 0;
}

/*Para convertir a mayúsculas*/
.text-uppercase {
  text-transform: uppercase;
}

/*parámetros del header*/
header {
	background-color: #2C3E50;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1
}

/*parámetros del texto dentro del header en generañ*/
header p {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}

/*quitandole margin top a los subtitulos del header*/
header .mt {
	position: relative;
	bottom: 6px;
	margin-top: 0;
}

/*quitandole el subrayado a los links*/
a {
	text-decoration: none;
}

/*dándole caracterósticas a todos los links del header*/
header p a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

/*dándole características al título del header*/
header p #title {
	font-size: 32px;
	font-weight: bold;
	margin-left: 119px;
	margin-right: 500px;
	line-height: 48px;
}

/*dándole características a los subtitulos del header*/
header p .subtitle {
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
	line-height: 24px;
}

/*cuando el mouse pase por sobre el primer subtitulo su color cambiará al siguiente*/
header p .sub1:hover {
	color: #18BA9A;
}

/*cuando el mouse pase por sobre el segundo subtitulo su color cambiará al siguiente*/
header p .sub2:hover {
	color: #18BA9A;
}

/*cuando el mouse pase por sobre el tercer subtitulo su color cambiará al siguiente*/
header p .sub3:hover {
	color: #18BA9A;
}

/*para que todas las secciones floten a la izquierda y ocupen todo el espacio*/
.float {
	float: left;
}

/*dandole características a la caja de la primera sección*/
#first-box {
	color: #fff;
	height: 680px;
	width: 100%;
	background-color: #18BC9C;
	margin-top: 105px;
	text-align: center;
}

/*dándole margen top a la imagen de la 1ra seccióm*/
#first-box img {
	margin-top: 95px;
}

/*dándole características al titulo de la 1ra sección*/
#first-box #start {
	color: #fff;
	font-size: 76px;
	font-weight: bold;
	line-height: 114px;
	margin-top: 16px;
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
}

/*dándole color y talla al icon star*/
.white{
	font-size: 30px;
	color: #fff;
}

/*colocando una línea antes del icon star*/
#first-box #star::before {
	content: "";
	height: 5px;
	background-color: #fff;
	width: 104px;
	display: inline-block;
	position: relative;
	bottom: 8px;
	margin-right: 5px;
}

/*colocando una línea después del icon star*/
#first-box #star::after {
	content: "";
	height: 5px;
	background-color: #fff;
	width: 104px;
	display: inline-block;
	position: relative;
	bottom: 8px;
	margin-left: 5px;
}

/*dándole características al texto de especialidades en la 1ra sección*/
#first-box #specialty {
	font-family: 'Lato', sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 42px;
}

/*dándole caraccterísticas a la caja de la 2da sección*/
#second-box {
	width: 100%;
	height: 884px;
	text-align: center;
}

/*dandole características al título de la 2da sección*/
#second-box #portfolio {
	font-size: 48px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	line-height: 58px;
	margin-top: 100px;
	margin-bottom: 0;
}

/*dándole color y talle al icon star*/
.black{
	font-size: 30px;
	color: #212529;
}

/*colocando una línea antes del icon star*/
#second-box #star2::before {
	content: "";
	height: 5px;
	background-color: #212529;
	width: 104px;
	display: inline-block;
	position: relative;
	bottom: 8px;
	margin-right: 5pX;
}

/*colocando una línea después del icon star*/
#second-box #star2::after {
	content: "";
	height: 5px;
	background-color: #212529;
	width: 104px;
	display: inline-block;
	position: relative;
	bottom: 8px;
	margin-left: 5px;
}

/*dándole talle a las imágenes de la 2da sección*/
#second-box  img {
	width: 350px;
	height: 250px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*dándole caraccterísticas a la caja de la 3ra sección*/
 #third-box {
	 width: 100%;
	 height: 575px;
	 background-color: #18BC9C;
	 text-align: center;
	 color: #fff;
 }

/*dándole características al titulo de la 3ra sección*/
 #third-box #about {
	 font-family: 'Montserrat', sans-serif;
	 font-size: 48px;
	 font-weight: bold;
	 line-height: 58px;
	 margin-top: 100px;
	 margin-bottom: 0;
 }

 /*dándole color y talle al icon star*/
 .white{
	 font-size: 30px;
 }

 /*colocando una línea antes del icon star*/
 #third-box #star3::before {
 	content: "";
 	height: 5px;
 	background-color: #fff;
 	width: 104px;
 	display: inline-block;
	position: relative;
	bottom: 8px;
	margin-right: 5px;
 }

 /*colocando una línea después del icon star*/
 #third-box #star3::after {
 	content: "";
 	height: 5px;
 	background-color: #fff;
 	width: 104px;
 	display: inline-block;
	position: relative;
	bottom: 8px;
	margin-left: 5px;
 }

/*dándole características a los textos de la 3ra sección*/
#third-box .texto {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 30px;
	width: 350px;
	height: 180px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0;
	vertical-align: text-top;
	text-align: left;
	display: inline-block;
}

/*dándole características a la clase download dentro del id third-box (el botón download theme de la tercera sección)*/
#third-box .download {
	width: 220px;
	height: auto;
	padding: 10px 0;
	margin-top: 10px;
	margin-left: 550px;
	background-color: #18BC9C;
	border: 2px solid #fff;
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 30px;
}

/*dándole características al icon que se encuentra dentro del div con clase downlad (el icon dentro del botón download theme)*/
.icon-down {
	font-size: 20px;
	margin: 0;
	margin-right: 1px;
	padding: 0;
}

/*Estableciendo que cuando el mouse pase por encima de el elemento con clase download (botón download theme) pase lo siguiente*/
#third-box .download:hover {
	background-color: #fff;
	border: 2px solid #18BC9C;
	color: #18BC9C;
}

/*dándole caraccterísticas a la caja de la 4ta sección*/
#forth-box {
	width: 100%;
	text-align: center;
}

/*dándole características al id contact (título) de la 4ta sección*/
#forth-box #contact {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 49px;
	font-weight: bold;
	line-height: 58px;
	margin-top: 100px;
	margin-bottom: 0;
}

/*dándole color y talle al icon star*/
.black{
	font-size: 30px;
	color: #212529;
}

/*colocando una línea antes del icon star*/
#forth-box #star4::before {
	content: "";
	height: 5px;
	background-color: #212529;
	width: 104px;
	display: inline-block;
	position: relative;
	bottom: 8px;
	margin-right: 5px;
}

/*colocando una línea después del icon star*/
#forth-box #star4::after {
	content: "";
	height: 5px;
	background-color: #212529;
	width: 104px;
	display: inline-block;
	position: relative;
	bottom: 8px;
	margin-left: 5px;
}

/*dándole característocas a todos los input que en su atributo type tengan como valor text*/
input[type=text]{
	width: 730px;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 36px;
	padding-top: 40px;
	padding-bottom: 40px;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09)
}

/*dandole una característica especificamente al input con id msg*/
input#msg {
	padding-bottom: 185px;
}

/*dándole característocas a todos los input que en su atributo type tengan como valor submit*/
input[type=submit] {
	width: 80px;
	height: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	color: #fff;
	background-color: #18BC9C;
	border: 0 none;
	border-radius: 10px;
	position: relative;
	top: 20px;
	right: 330px;
	margin-bottom: 120px;
}

/*estableciendo que cuando el mouse pase por encima del input con class button se realice lo siguiente*/
input.button:hover {
	background-color: #128F76;
}

/*dándole caraccterísticas a la caja de la 5ta sección*/
#fifth-box{
	width: 100%;
	background-color: #2C3E50;
}

/*dándole características a todos los div dentro del id fifth-box*/
#fifth-box div {
	margin-top: 20px;
}

/*dándole características a la clase big-txt dentro del id fifth-box (título del primer cuadrado del footer)*/
#fifth-box .big-txt {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	font-weight: bold;
	line-height: 34px;
}

/*dándole características a la clase small-txt dentro del id fifth-box (párrafo del primer cuadro del footer)*/
#fifth-box .small-txt {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 30px;
}

/*dándole características al primer cuadro de la 5ta sección*/
#location {
	width: 230px;
	text-align: center;
	margin-left: 180px;
	margin-right: 60px;
	vertical-align: text-top;
	display: inline-block;
}

/*dándole características al segundo cuadro con id websites del footer*/
#websites {
	width: 300px;
	text-align: center;
	margin-left: 15px;
	margin-right: 30px;
	vertical-align: text-top;
	display: inline-block;
}

/*dándole características a todos los párrafos del segundo cuadro con id websites del footer*/
#websites p {
	display: inline-block;
}

/*dándole características a todos los elementos con clase .fa dentro del id websites del footer (iconos)*/
#websites .fa {
	color: #fff;
	font-size: 20px;
	background-color: inherit;
	border: 2px solid #fff;
	border-radius: 100px;
	margin-right: 1px;
	margin-left: 1px;
}

/*dándole características al elemento de clase fa-facebook (icono facebook)*/
#websites .fa.fa-facebook {
	padding: 15px 20px;
}

/*estableciendo que cuando el mouse pase por sobre elementos con clase fa-facebook ocurra lo siguiente*/
#websites .fa.fa-facebook:hover {
	color: #18BC9C;
	background-color: #fff;
	cursor: pointer;
}

/*dándole características al elemento de clase fa-google-plus (icono google plus)*/
#websites .fa.fa-google-plus {
	padding: 15px 13px;
}

/*estableciendo que cuando el mouse pase por sobre elementos con clase fa-google-plus ocurra lo siguiente*/
#websites .fa.fa-google-plus:hover {
	color: #18BC9C;
	background-color: #fff;
	cursor: pointer;
}

/*dándole características al elemento de clase fa-twitter (icono twitter)*/
#websites .fa.fa-twitter {
	padding: 15px 15px;
}

/*estableciendo que cuando el mouse pase por sobre elementos con clase fa-twitter ocurra lo siguiente*/
#websites .fa.fa-twitter:hover {
	color: #18BC9C;
	background-color: #fff;
	cursor: pointer;
}

/*dándole características al elemento de clase fa-linkedin (icono linkedin)*/
#websites .fa.fa-linkedin {
	padding: 15px 15px;
}

/*estableciendo que cuando el mouse pase por sobre elementos con clase fa-linkedin ocurra lo siguiente*/
#websites .fa.fa-linkedin:hover {
	color: #18BC9C;
	background-color: #fff;
	cursor: pointer;
}

/*dándole características al elemento de clase fa-dribbble (icono dribble)*/
#websites .fa.fa-dribbble {
	padding: 15px 15px;
}

/*estableciendo que cuando el mouse pase por sobre elementos con clase fa-dribbble ocurra lo siguiente*/
#websites .fa.fa-dribbble:hover {
	color: #18BC9C;
	background-color: #fff;
	cursor: pointer;
}

/*dándole características al tercer cuadro con id source del footer*/
#source {
	width: 330px;
	text-align: center;
	margin-left: 30px;
	vertical-align: text-top;
	display: inline-block;
}

/*dándole características al id link-source (todos los links dentro del tercer cuadro del footer)*/
#link-source {
	text-decoration: none;
	color: #18BC9C;
}

/*estableciendo que cuando el mouse pase por encima del id link-source (links) del tercer cuadro del footer, ocurra lo siguiente*/
#link-source:hover {
	text-decoration: underline #18BC9C;
}

/*dándole características al id copyright del footer (párrafo que posee el copyright statement)*/
#copyright {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin-top: 100px;
	text-align: center;
}
